
.red-strong {
    color: orangered;
    font-weight: bold;
}
.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.blue-strong {
    color: darkturquoise;
    font-weight: bold;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }
  
.bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
}

.border-right {
    border-right: 1px solid slategrey;
}

.border-bottom {
    border-bottom: 1px solid slategrey;
    margin: 10px;
    padding: 10px;
}
.border-bottom:last-child {
    border-bottom: 0;
}

button.input-round {
    background-color: #F5583D;
    border-radius: 50% #F5583D;;
    width: 25px;
    height: 25px;
    font-weight: bold;
    color: white;

}