<div class="section text-center">
    <div id="introduce" class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title" style="color: #FF8F5E">Welcome to Siri Hotel</h2>
                <h5 class="description">
                    Khách sạn Siri - Quận 9, thành phố Hồ Chí Minh - là một trong những khách sạn hàng đầu Việt Nam.
                    Khách sạn cung cấp hơn 50 phòng nghỉ ấm cúng và đầy đủ tiện nghi.
                    Với sự phục vụ tận tình của đội ngũ nhân viên, hi vọng sẽ mang đến cho bạn những trãi nghiệm tốt nhất.
                    Chân thành cảm ơn !
                </h5>
                <br>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Không gian đẹp</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Thiết kế độc đáo</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Phục vụ tận tình</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>