<div id="contact" class="section section-dark text-center">
    <div class="container">
        <div class="col-md-8 mr-auto ml-auto" style="color: white;">
                <h2 class="title">Contact</h2>
                <h5>Địa chỉ: Quận 9, thành phố Hồ Chí Minh, Việt Nam</h5>
                <h5>Tel: +8428 12345678</h5>
                <h5>Hotline: +8428 12345678</h5>
                <h5>Email: sirihotel@mail.com</h5>
                <br>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
    </div>
</div>